@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
}



main{
    text-align: center;
}


table {
    border-collapse: collapse;
    border: 2px solid black;
    }

td { 
    border: 2px solid black;
    text-align: center;
    }
 
.lastProducts{
    text-align: center;
    padding-top: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2cm;
    padding-right: 2cm;
}

.h1Index{
    padding-top: 2cm;
    text-align: center;
}

.noLignes{
    text-decoration: none;
    color: black;
}

.img404{
    z-index: 0;
}

.text404{
    position: absolute;
    z-index: 1;
    color: white;
    margin-top: 2cm;
    margin-left: 5cm;
}

h1,h2,h3{
    text-shadow: 1px 1px 1px black;
}

.button404{
    background: unset;
    border: unset;
    font-size: 30px;
    
}

.a404{
    text-decoration-line: none;
    color: grey;
    text-shadow: 1px 1px 1px black;
}

.a404:hover{
    text-decoration-line: underline;
    color: red;
    text-shadow: 1px 1px 1px black;
}

.zonetxt_inscription{
    color: black;
    border-color: red;
}

/* PRODUITS */
.p_nom{

    margin-top: 0;
    margin-bottom: 0;
    font-size: 75px;
    text-align: center;
}  

.p_description{
    
    margin-top: -5;
    font-size: 25px;
}

.p_prix{

    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.produit_s{
    text-align: center;
}

/* .produits_ajoutPanier{

    background-color: black;
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 1em;
} */

/* PRODUIT */

.pdt_nom_href{
    font-size: 25px;
    color: black;
}

.produit_s{
    
}

.margintop{
    background-color: gray;
}

.nom_href{
    color: Black;
    text-decoration: none;
}

.pdts_prix{

    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
}
